/* AuthForm.css */
.header {
  color: white;
  padding-left: 20px;
}

.header h1 {
  margin: 0;
}
.webPage {
  background-image: linear-gradient(rgb(27, 109, 118), #33586d) ;
  /* background-color: rgb(51, 109, 70); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 400px;
  padding: 20px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  background-color: hsla(0, 0%, 77%, 0.3);
}

.title {
  font-size: 30px;
  color: #33586d;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.form-item {
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.button-container {
  display: inline-block;
}

p {
  color:aliceblue;
  display: inline-block;
}

a {
  color: #23485d;
}

.submit-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.resetPassword {
  display: flex;
  justify-content: end;
}